input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 1;
}

@media (max-width: 768px) {
  .mk-on-mobile {
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
  }
  .mk-on-mobile:after {
    content: "";
    display: block;
    height: 3px;
    width: 52px;
    background: #283772;
    margin: 14px auto;
  }
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  background: transparent;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  color: #333333;
  font-size: 0.88rem;
  list-style: none;
  text-decoration: none;
  font-family: "aeonikmedium", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  * {
    font-size: 0.85rem;
  }
}

.styled-link {
  font-size: 104%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #283772;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  position: relative;
}

.styled-link svg {
  height: 22px;
  margin: 0 0 0 10px;
  width: 22px;
  border-radius: 100vh;
  border: 1.5px solid #283772;
}

.styled-link svg path {
  fill: #283772;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 208%;
}

h2 {
  font-size: 178%;
}

p,
span,
a,
input,
strong {
  line-height: 1.9;
  color: #424242de;
  font-family: "Montserrat", "aeonikregular";
  font-weight: 700;
  font-size: 0.88rem;
}

@media (max-width: 768px) {
  p,
  span,
  a,
  input,
  strong {
    font-size: 0.86rem;
  }
}

strong {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #8bd8bd;
}

body {
  background: #ffffff;
}

body .main {
  padding: 0 60px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  body .main {
    padding: 0 20px;
  }
}

body .restricted-width {
  max-width: 78pc;
  margin-left: auto;
  margin-right: auto;
}

body .top-section-rapper {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 119px;
  margin: 0 -60px;
  padding-right: 60px;
  padding-left: 60px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  body .top-section-rapper {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -20px;
    margin-left: -20px;
    overflow: unset;
  }
}

body .top-section-rapper:after {
  content: "";
  height: 80%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#eff7ff), to(transparent));
  background: linear-gradient(to bottom, #eff7ff, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body .top-section-rapper .question-container {
  padding: 40px 0;
  width: 100%;
}

body .top-section-rapper .question-container .question-rapper h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 225%;
}

body .top-section-rapper .question-container .question-rapper .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto 0 auto;
  width: 100%;
  max-width: 40pc;
  margin-top: 30px;
  background: #ffffff7d;
}

@media (max-width: 768px) {
  body .top-section-rapper .question-container .question-rapper .input-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .top-section-rapper .question-container .question-rapper .input-container .input-rapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

body .top-section-rapper .question-container .question-rapper .input-container .input-rapper .svg {
  position: absolute;
  top: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 60px;
  padding: 0 20px;
}

body .top-section-rapper .question-container .question-rapper .input-container .input-rapper .inp {
  width: 100%;
  padding: 15px 20px 15px 15px;
  border: 1.5px solid #95eed0;
  border-radius: 5px;
  z-index: 1;
}

body .top-section-rapper .question-container .question-rapper .input-container .input-rapper .inp::-webkit-input-placeholder {
  font-weight: 700;
  opacity: 0.5;
  color: #649181;
}

body .top-section-rapper .question-container .question-rapper .input-container .input-rapper .inp:-ms-input-placeholder {
  font-weight: 700;
  opacity: 0.5;
  color: #649181;
}

body .top-section-rapper .question-container .question-rapper .input-container .input-rapper .inp::-ms-input-placeholder {
  font-weight: 700;
  opacity: 0.5;
  color: #649181;
}

body .top-section-rapper .question-container .question-rapper .input-container .input-rapper .inp::placeholder {
  font-weight: 700;
  opacity: 0.5;
  color: #649181;
}

body .top-section-rapper .question-container .smltxt {
  opacity: 0.7;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 60px auto 20px auto;
  text-align: center;
}

body .top-section-rapper .question-container .cards {
  padding: 20px 20px;
  white-space: nowrap;
  overflow: auto;
  text-align: center;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

@media (max-width: 768px) {
  body .top-section-rapper .question-container .cards {
    overflow: auto;
    margin: 0 -20px;
  }
}

body .top-section-rapper .question-container .cards::-webkit-scrollbar {
  background: transparent;
  height: 5px;
  width: 5px;
}

body .top-section-rapper .question-container .cards::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 100vh;
}

body .top-section-rapper .question-container .cards::-webkit-scrollbar-track {
  background: transparent;
}

body .top-section-rapper .question-container .cards .card {
  width: 15pc;
  min-height: 5pc;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 0 10px 5px rgba(206, 206, 206, 0.22);
          box-shadow: 0px 0 10px 5px rgba(206, 206, 206, 0.22);
  border-radius: 7px;
  display: inline-block;
  margin: 0 10px;
  border: 1.5px solid #95eed000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  scroll-snap-align: center;
}

body .top-section-rapper .question-container .cards .card img,
body .top-section-rapper .question-container .cards .card svg {
  width: 56px;
  margin: 5px auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .top-section-rapper .question-container .cards .card .txt {
  padding: 10px 0 0 0;
}

body .top-section-rapper .question-container .cards .active-card,
body .top-section-rapper .question-container .cards .card:hover {
  border: 1.5px solid #95eed0;
  -webkit-box-shadow: 0px 0 15px 5px rgba(206, 206, 206, 0.253);
          box-shadow: 0px 0 15px 5px rgba(206, 206, 206, 0.253);
}

body .top-section-rapper .question-container .cards .active-card img,
body .top-section-rapper .question-container .cards .active-card svg,
body .top-section-rapper .question-container .cards .card:hover img,
body .top-section-rapper .question-container .cards .card:hover svg {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

body .top-section-rapper .question-container .cards .fake-card {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: none;
  width: 15pc;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  body .top-section-rapper .question-container .cards .fake-card {
    display: unset;
  }
}

body .questions-section-rapper {
  padding: 20px 60px;
}

@media (max-width: 768px) {
  body .questions-section-rapper {
    padding: 20px 0;
  }
}

body .questions-section-rapper .questions-section {
  margin-bottom: 45px;
  display: none;
  -webkit-animation-name: none;
          animation-name: none;
}

body .questions-section-rapper .questions-section .intro {
  text-align: center;
}

body .questions-section-rapper .questions-section .intro h1,
body .questions-section-rapper .questions-section .intro p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

body .questions-section-rapper .questions-section .intro p {
  padding: 10px 0;
  max-width: 33.5pc;
}

body .questions-section-rapper .questions-section .questions .questions-container {
  max-width: 49pc;
  margin: 0 auto;
  padding: 25px 0;
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper {
  padding: 15px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .button-rapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .button-rapper button {
  width: 17px;
  height: 17px;
  position: relative;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .button-rapper button img,
body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .button-rapper button svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper:after {
  content: "";
  height: 2px;
  width: 100%;
  background: #ecf0f3;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: #8bd8bd;
  border-radius: 100vh;
  margin-right: 10px;
  -webkit-transform: translate(0, 9px);
          transform: translate(0, 9px);
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .answer-rapper {
  width: calc(100% - 30px);
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .question {
  color: #333333c5;
  font-family: "aeonikregular";
  font-size: 104%;
  max-width: calc(100% - 40px);
  line-height: 1.6;
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .answer {
  opacity: 0.7;
  padding: 0;
  font-size: 95%;
  max-height: 0px;
  overflow-y: hidden;
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .answer p,
body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .answer span,
body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .answer a {
  color: inherit;
  font-size: 95%;
}

body .questions-section-rapper .questions-section .questions .questions-container .question-rapper .answer a {
  color: #283772;
  font-weight: 900;
  font-family: "aeonikregular";
  text-decoration: underline;
  font-size: 105%;
}

body .questions-section-rapper .questions-section .questions .questions-container .open-closed-indicator {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .questions-section-rapper .questions-section .questions .questions-container .opened .open-closed-indicator {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .questions-section-rapper .questions-section .questions .questions-container .opened .answer {
  max-height: 1000px;
  padding: 10px 0;
}

body .questions-section-rapper .questions-section-active {
  opacity: 1;
  pointer-events: unset;
  display: block;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

body .main-navigation-rapper {
  width: 100%;
  top: 0;
  position: fixed;
  background: transparent;
  left: 0;
  padding: 0 60px;
  z-index: 2;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (max-width: 768px) {
  body .main-navigation-rapper {
    padding: 10px 20px;
  }
}

body .main-navigation-rapper .main-navigation {
  padding: 35px 0;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  body .main-navigation-rapper .main-navigation {
    padding: 0;
  }
}

body .main-navigation-rapper .main-navigation .logo img {
  height: 38px;
}

@media (max-width: 768px) {
  body .main-navigation-rapper .main-navigation .logo img {
    height: 31px;
  }
}

body .main-navigation-rapper .main-navigation .burger-btn {
  position: relative;
  display: none;
}

@media (max-width: 768px) {
  body .main-navigation-rapper .main-navigation .burger-btn {
    display: block;
  }
}

body .main-navigation-rapper .main-navigation .burger-btn span {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #273773;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 100vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .main-navigation-rapper .main-navigation .burger-btn span:nth-child(even) {
  margin: 7px 0;
}

body .main-navigation-rapper .main-navigation .burger-btn span:nth-child(1), body .main-navigation-rapper .main-navigation .burger-btn span:nth-child(3) {
  position: absolute;
  top: 0;
}

body .main-navigation-rapper .main-navigation .burger-btn span:nth-child(3) {
  top: unset;
  bottom: 0;
}

body .main-navigation-rapper .main-navigation .mbl-menu-rapper {
  position: fixed;
  top: 0;
  background: #fff;
  left: 0;
  width: 100%;
  padding-top: 60px;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
  pointer-events: none;
}

@media (max-width: 768px) {
  body .main-navigation-rapper .main-navigation .mbl-menu-rapper {
    display: block;
  }
}

body .main-navigation-rapper .main-navigation .mbl-menu-rapper .mbl-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #d6dbda45;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 50px 0 rgba(28, 15, 125, 0.05);
          box-shadow: 0 0 50px 0 rgba(28, 15, 125, 0.05);
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .main-navigation-rapper .main-navigation .mbl-menu-rapper .mbl-menu a {
  margin: 10px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .main-navigation-rapper .main-navigation .mbl-menu-rapper .mbl-menu .bg-blue {
  padding: 15px 20px;
  border-radius: 5px;
  background: #283772;
  color: #fff;
  max-width: 16pc;
  width: 100%;
  text-align: center;
}

body .main-navigation-rapper .main-navigation .mbl-menu-rapper .mbl-menu .co-blue {
  color: #283772;
}

body .main-navigation-rapper .main-navigation .burger-btn-active + .mbl-menu-rapper {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  pointer-events: unset;
}

body .main-navigation-rapper .main-navigation .burger-btn-active + .mbl-menu-rapper .mbl-menu {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

body .main-navigation-rapper .main-navigation .burger-btn-active:after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: #50505026;
}

body .main-navigation-rapper .main-navigation .burger-btn-active span:nth-child(2) {
  opacity: 0;
}

body .main-navigation-rapper .main-navigation .burger-btn-active span:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

body .main-navigation-rapper .main-navigation .burger-btn-active span:nth-child(3) {
  bottom: 50%;
  -webkit-transform: translate(0, 50%) rotate(-45deg);
          transform: translate(0, 50%) rotate(-45deg);
}

body .main-navigation-rapper .main-navigation .burger-btn-active span:nth-child(1),
body .main-navigation-rapper .main-navigation .burger-btn-active span:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media (max-width: 768px) {
  body .main-navigation-rapper .main-navigation .desktop-links {
    display: none;
  }
}

body .main-navigation-rapper .main-navigation .login-button {
  color: #283772;
}

body .main-navigation-rapper .main-navigation .signin-button {
  color: #fff;
  background: #283772;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 0 0 0 20px;
  -webkit-box-shadow: 0 20px 15px -15px rgba(70, 70, 70, 0.37);
          box-shadow: 0 20px 15px -15px rgba(70, 70, 70, 0.37);
}

body .style-nav {
  background: #fff;
  -webkit-box-shadow: 0 0 50px 0 rgba(28, 15, 125, 0.05);
          box-shadow: 0 0 50px 0 rgba(28, 15, 125, 0.05);
}

body .style-nav .main-navigation {
  padding: 14px 0;
}

@media (max-width: 768px) {
  body .style-nav .main-navigation {
    padding: 0;
  }
}

body .main-footer {
  background: #273773;
  padding: 0 60px;
  margin: 0 -60px;
}

@media (max-width: 768px) {
  body .main-footer {
    margin: -20px !important;
  }
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 1;
}

.main-footer {
  background: #273773;
  padding: 0 60px;
}

@media (max-width: 768px) {
  .main-footer {
    padding: 0 20px !important;
    margin: 0 !important;
  }
}

.main-footer p,
.main-footer span,
.main-footer h1,
.main-footer h2,
.main-footer a {
  color: #fff;
}

.main-footer .footer-rapper {
  margin: 0 auto;
  padding: 80px 0 35px 0;
}

.main-footer .footer-rapper .lsec {
  max-width: 23.5pc;
  width: 100%;
}

.main-footer .footer-rapper .big-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer .footer-rapper .big-text-container > div {
  margin-bottom: 20px;
}

.main-footer .footer-rapper .big-text-container .big-text-rapper .big-text {
  line-height: 1.3;
  font-size: 190%;
}

.main-footer .footer-rapper .big-text-container .big-text-rapper .big-text:first-of-type {
  color: #8bd8bd;
}

.main-footer .footer-rapper .big-text-container .contacts-rapper .card {
  background: #ffff;
  padding: 10px 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 1px 10px #0000001e;
          box-shadow: 0px 1px 10px #0000001e;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .main-footer .footer-rapper .big-text-container .contacts-rapper .card {
    padding: 15px 30px;
  }
}

.main-footer .footer-rapper .big-text-container .contacts-rapper .card p {
  color: #333333;
  font-family: "aeonikmedium", Arial, Helvetica, sans-serif;
}

.main-footer .footer-rapper .big-text-container .contacts-rapper .card .contacts {
  margin: 5px 0;
}

.main-footer .footer-rapper .big-text-container .contacts-rapper .card .contacts:nth-child(odd) {
  margin: 5px 30px 5px 0;
}

.main-footer .footer-rapper .big-text-container .contacts-rapper .card .contacts p {
  color: #000;
  line-height: 1.4;
}

.main-footer .footer-rapper .big-text-container .contacts-rapper .card .contacts .dtail {
  font-size: 110%;
  font-weight: 900;
  opacity: 0.7;
}

.main-footer .footer-rapper .big-text-container .contacts-rapper .card .contacts .heading {
  opacity: 0.3;
  font-size: 90%;
  margin: 5px 0;
}

.main-footer .footer-rapper .links-container {
  margin: 35px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .main-footer .footer-rapper .links-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-footer .footer-rapper .links-container .logo,
.main-footer .footer-rapper .links-container .links-rapper {
  margin-bottom: 20px;
}

.main-footer .footer-rapper .links-container .logo {
  margin-bottom: 30px;
}

.main-footer .footer-rapper .links-container .logo img {
  height: 50px;
}

.main-footer .footer-rapper .links-container .links-rapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.main-footer .footer-rapper .links-container .links-rapper .links {
  margin: 0 100px 30px 0;
}

@media (max-width: 768px) {
  .main-footer .footer-rapper .links-container .links-rapper .links {
    width: unset;
    padding: 30px 30px 0 0;
  }
}

.main-footer .footer-rapper .links-container .links-rapper .links .heading {
  font-weight: 900;
  font-family: "aeonikregular", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.main-footer .footer-rapper .links-container .links-rapper .links p,
.main-footer .footer-rapper .links-container .links-rapper .links a {
  margin: 0 0 7px 0;
}

.main-footer .footer-rapper .links-container .links-rapper .links .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer .footer-rapper .links-container .links-rapper .links .social-media a {
  margin-right: 20px;
}

.main-footer .footer-rapper .links-container .links-rapper .links a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.9;
  font-weight: 400;
}

.main-footer .footer-rapper .links-container .links-rapper .links a img {
  width: 24px;
}
/*# sourceMappingURL=FAQ.css.map */