@import "./on-boarding.scss";
@import "./notify-ajustments.scss";
.form-container {
  display: flex;
  .form {
    width: 100%;
  }
}
.thanks {
  @include mobile {
    display: none !important;
  }
}
form.full {
  max-width: 500px !important;
  margin: 0;
  .logo {
    img {
      height: 35px;
      margin: 0 auto 50px 0;
      display: block;
    }
  }
  .heading {
    font-family: "aeonikmedium";
    font-size: 155%;
    margin-bottom: 10px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.733);
    line-height: 1.5;
    @include mobile {
      font-size: 120%;
    }
  }
}
.mini-form {
  display: flex;
  flex-direction: column;
  position: relative;
  input {
    margin: 0;
  }
  .btn {
    white-space: nowrap;
    padding: 14px 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 !important;
    display: block;
  }
}
.sentMessage {
  display: none;
  .message {
    background: #f8f8f8;
    padding: 1.5rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      height: 50px;
      width: 50px;
      background-image: url("../img/checked.svg");
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 20px;
    }
    .title {
      margin-bottom: 5px;
      font-size: 120%;
    }
    p {
      opacity: 0.7;
    }
  }
  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0 0;
    button {
      // color: ;
      font-family: "aeonikmedium";
      color: #344997;
    }
  }
}
.resend,
.sentMessage {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.js-container.sent {
  .resend {
    display: none;
  }
  .sentMessage {
    display: block;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.errors {
  p {
    margin: 20px 0;
  }
}
